.nested-fields.hide
  = f.label :avatar, 'Avatar:'
  = f.file_field :avatar, style: 'border: 1px solid blue;', 'data-function': 'nested_field_fast:image:field'
  = link_to_remove_association '<i class="icon minus"></i>'.html_safe, f, class: 'ui button yellow tiny icon', 'data-function': 'nested_field_fast:image:field:remove'
